body {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    margin: 0;
}

.lyrics-app {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 90%;
    height: 100vh;
    min-height: 500px;
    font-family: sans-serif;
    background: #b2a4ff7a;
    border-radius: 12px;
}

/* 控制面板佈局 */
.control-panel {
    background: #ffffff26;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.input-row,
.play-row,
.offset-row {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

button,
.upload-btn {
    padding: 8px 15px;
    background: #8891ff6b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

input[type="range"] {
    flex: 1;
}

.lrc-window {
    top: 35%;
    transform: translate(0, -50%);
    width: 100%;
    height: 400px;
    /*background: #f3cfffbd;*/
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 25%, black 75%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 25%, black 75%, transparent 100%);
}

.lrc-list {
    position: relative;
    transition: transform 0.3s ease-out;
    text-align: center;
    padding-top: 130px;
    user-select: none;
}

.lrc-line {
    padding: 15px 10px;
    margin: 0;
    font-size: 2.5rem;
    color: #666;
    transition: all 0.3s;
}

.lrc-line.active {
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
    transform: scale(1.05);
    text-shadow: 1px 0px 1px #5600ff94, -1px 0px 1px #5600ff94, 0px 1px 1px #5600ff94, 0px -1px 1px #5600ff94;
}